body{
    color: black;
    background-color: lavender;
}
h1{
    color: rgb(0, 110, 255);
}
h2{
    color: rgb(233, 86, 221);
    float: center;
}
img{
    margin: 16px;
    float: center;
}











































